
#
# Module configuration file for
# Tasklist Sem1 Eqela
# (com.mysirMiggy.tasklistsem1eqela)
#

displayname: Tasklist Sem1 Eqela
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata
